apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mysql-external-secret
  namespace: three-tier-app
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: aws-secretstore
    kind: SecretStore

  target:
    name: mysql-secret
    creationPolicy: Owner
    deletionPolicy: "Retain"
    template:
      type: Opaque

  data:
  - secretKey: MYSQL_ROOT_PASSWORD
    remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: devops/mysql/creds 
      property: MYSQL_ROOT_PASSWORD
---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-secretstore
  namespace: three-tier-app
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::821106082324:role/EKSSecretsManagerRole
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1
