name: Docker Build

on:
    workflow_dispatch: {}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t demo-app:latest -f docker-python-app-code/Dockerfile .
          docker build -t demo-app:${{ github.sha }} -f docker-python-app-code/Dockerfile .
          docker images