name: Python CI Pipeline

on:
    workflow_dispatch: {}

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: python-app-code

      - name: Run flake8 (Linting)
        run: flake8 .
        working-directory: python-app-code

      - name: Run black (Formatting check)
        run: black --check .
        working-directory: python-app-code

      - name: Run tests
        run: pytest
        working-directory: python-app-code