apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mysql-secret
  namespace: default
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: aws-secretstore
    kind: SecretStore

  target:
    name: mysql-secret
    creationPolicy: Owner
  data:
    - secretKey: MYSQL_DATABASE
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_DATABASE
    - secretKey: MYSQL_USER
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_USER
    - secretKey: MYSQL_PASSWORD
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_PASSWORD
    - secretKey: MYSQL_ROOT_PASSWORD
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_ROOT_PASSWORD