---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: aws-secretstore
  namespace: default
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::821106082324:role/EKSSecretsManagerRole
spec:
  provider:
    aws:
      service: SecretsManager
      region: us-east-1