---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: wordpress-secret
  namespace: default
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: aws-secretstore
    kind: SecretStore

  target:
    name: wordpress-secret
    creationPolicy: Owner
  data:
    - secretKey: WORDPRESS_DB_USER
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_USER
    - secretKey: WORDPRESS_DB_PASSWORD
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_PASSWORD
    - secretKey: WORDPRESS_DB_NAME
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_DATABASE
    - secretKey: WORDPRESS_DB_HOST
      remoteRef:
        key: wordpress-db-secret
        property: MYSQL_HOST